.badge {
  @extend %flex-center;
  position: absolute;
  background: $black;
  color: $white;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 10px;
  text-align: center;
  top: -10px;
  right: -9px;
  padding-bottom: 4px;
}
