.btn-primary {
  @extend %flex-center;
  @extend %nav-hover;
  font-family: $playfair;
  font-weight: 500;
}

.btn-secondary {
  @extend %flex-center;
  border: 1px solid $black;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-family: $playfair;
  font-weight: 500;

  &:hover {
    background: $black;
    color: $white;
    transition: all 0.5s ease-in-out;
  }
}

.btn-main {
  @extend %flex-center;
  border: 1px solid $black;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-family: $playfair;
  font-weight: 500;
  background-color: $black;
  color: $white;

  &:hover {
    background: $redwood;
    border: 1px solid $redwood;
    transition: all 0.5s ease-in-out;
  }
}
