.cart-modal {
  @extend %cover;
  z-index: 99;

  > div {
    background-color: $white;
    position: absolute;
    right: 0;
    height: 100%;
    width: 90%;
    padding: 2rem 2rem 0;
    overflow-y: auto;

    @include breakpoint("md") {
      width: 50%;
    }

    @include breakpoint("lg") {
      width: 25%;
    }

    .head {
      @extend %flex-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 6px;

      p {
        font-size: 0.8rem;

        @include breakpoint("sm") {
          font-size: 1.2rem;
        }
      }

      svg {
        font-size: 24px;
        cursor: pointer;

        @include breakpoint("sm") {
          font-size: 28px;
        }
      }
    }

    .items {
      @extend %flex-between;
      margin: 1.2rem 0;

      > div {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        p,
        span {
          font-size: 0.8rem;
        }

        .btn {
          @extend %flex-center;
          gap: 0.6rem;
          padding: 0.4rem 0.6rem;
          font-size: 1.2rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
    .body {
      overflow: auto;
      height: 100%;
    }

    .cta {
      button {
        width: 100%;
        margin-bottom: 1.2rem;
      }
    }
  }
}

.inactive-cm {
  display: none;
}

.active-cm {
  display: block;
}
