.not-found {
  @extend %flex-center;
  flex-direction: column;
  height: 60svh;

  h1 {
    font-size: 6rem;

    @include breakpoint("md") {
      font-size: 10rem;
    }
  }

  a {
    margin-top: 1rem;
  }
}
