.products {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  overflow-x: hidden !important;

  @include breakpoint("md") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint("lg") {
    grid-template-columns: repeat(4, 1fr);
  }

  .product {
    overflow-x: hidden !important;

    &-img {
      margin-bottom: 1.2rem;
      position: relative;

      .wishlist {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 9;
        color: $redwood;
      }

      div {
        position: relative;
        height: 10rem;

        @include breakpoint("xs") {
          height: 200px;
        }

        @include breakpoint("md") {
          height: 300px;
        }

        img {
          z-index: -1;
        }
      }
    }

    &-name {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    &-price {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
      color: $fade;
    }

    .btn-secondary {
      width: 100%;
    }
  }
}
