// colors
$gray: #c0caad;
// $mauve: #f0d1ff;
$rose: #654c4f;
$redwood: #b26e63;
// $citron: #fff6c1;
$black: #0a0908;
// $melon: #d2ffd4;
// $pink: #ffc2ce;
$white: #fbfbff;
// $blue: #bfd9d8;

// fonts
$playfair: "Playfair Display", serif;

// breakpoints
$breakpoints: (
  "xs": 475px,
  "sm": 576px,
  "md": 768px,
  "lg": 1124px,
  "xl": 1280px,
  "2xl": 1536px,
);
