// colors
$primary: #0fb3af;
$hover-primary: #0fb3b1c3;
$secondary: #3c3c3b;
$hover-secondary: #e2e2e2;

// fonts
$breakpoints: (
  "xs": 475px,
  "sm": 576px,
  "md": 768px,
  "lg": 1124px,
  "xl": 1280px,
  "2xl": 1536px,
);
