// colors
$gray: #c0caad;
$mauve: #dfb2f4;
$rose: #654c4f;
$redwood: #b26e63;
$citron: #cec075;
$black: #0a0908;
$melon: #eaa19a;
$pink: #ffc2ce;
$white: #fbfbff;
$blue: #bfd9d8;

// fonts
$playfair: "Playfair Display", serif;

// breakpoints
$breakpoints: (
  "xs": 475px,
  "sm": 576px,
  "md": 768px,
  "lg": 1124px,
  "xl": 1280px,
  "2xl": 1536px,
);
