.header {
  @extend %flex-between;
  background: $white;
  width: 100vw;
  padding: 1.6rem 2.4rem 1.6rem 1.2rem;
  color: $black;
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);

  @include breakpoint("md") {
    padding: 1.6rem 3.2rem;
  }

  .menu {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: $black;

    @include breakpoint("md") {
      display: none;
    }
  }

  &-brand {
    @extend %flex-center;
    font-size: 1.2rem;
    column-gap: 0.5rem;
    font-family: $playfair;
    font-weight: 600;

    svg {
      font-size: 1.5rem;
    }
  }

  &-nav {
    gap: 1.2rem;
    display: none;

    a {
      @extend %nav-hover;
      font-size: 1rem;
      font-family: $playfair;
      font-weight: 500;
    }

    @include breakpoint("md") {
      display: flex;
    }

    .nav-active {
      @extend %nav-active;
    }
  }

  &-cta {
    @extend %flex-center;
    gap: 1.4rem;
    font-family: $playfair;
    font-weight: 500;

    .cart {
      position: relative;
      cursor: pointer;

      svg {
        font-size: 1.4rem;
      }
    }

    .btn-primary,
    .btn-secondary {
      display: none;

      @include breakpoint("md") {
        display: block;
      }
    }
  }
}
