.about {
  @extend %container;

  &-header {
    position: relative;
    height: 400px;
    width: 100%;
  }

  &-body {
    padding: 1.6rem;
    color: $black;

    @include breakpoint("md") {
      padding: 1.6rem 3.2rem;
    }

    h1 {
      margin: 2rem 0;
      text-align: center;
      font-size: 2rem;
      font-family: $playfair;

      @include breakpoint("sm") {
        font-size: 3rem;
      }
    }

    p {
      margin-bottom: 1.2rem;
    }
  }
}
