.contact {
  @extend %container;
  padding: 1.6rem;

  @include breakpoint("md") {
    padding: 1.6rem 3.2rem;
  }

  h1 {
    @extend %heading;
  }

  > p {
    font-size: 0.9rem;
    text-align: center;
  }

  &-body {
    @extend %flex-between;
    align-items: flex-start;
    max-width: 800px;
    margin: 2rem auto 0;
    flex-direction: column-reverse;
    row-gap: 2rem;
    column-gap: 6rem;

    @include breakpoint("md") {
      flex-direction: row;
    }

    > div {
      @include breakpoint("md") {
        width: 500px;
      }

      div {
        margin-bottom: 1.2rem;
      }

      h4 {
        font-weight: 600;
        font-family: playfair;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 100%;

      input {
        width: 100%;
      }

      textarea {
        outline: 1px solid rgba(0, 0, 0, 0.3);
        padding: 11px 20px 12px;
        min-height: 120px;
        max-height: 120px;

        &:focus {
          outline: 1px solid $black;
        }
      }
    }
  }
}
