.home {
  @extend %container;
  .hero {
    position: relative;
    height: 200px;
    width: 100%;

    @include breakpoint("sm") {
      height: 600px;
    }
  }

  section {
    margin-top: 2rem;
    padding: 0 1.6rem;

    @include breakpoint("md") {
      padding: 1.6rem 3.2rem;
    }

    h1 {
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      padding-bottom: 0.5rem;
      font-family: playfair;
      width: 100%;
      font-size: 1.2rem;

      @include breakpoint("md") {
        font-size: 1.875rem;
      }
    }

    .see-more {
      text-align: center;
      margin-top: 3.6rem;
    }
  }
}
